@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}
section
{
    position: relative;
    width: 100%;
    padding: 20px;
    background: rgb(240, 33, 161);
}
section h2
{
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}
section p
{
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
}
.lef
{
    height: 600px;
    float: left;
    shape-outside: url(./1.png);
    margin-right: 10px;
    shape-margin: 5px;
}
.righ
{
    height: 700px;
    float: right;
    shape-outside: url(./2.png);
    margin-left: 10px;
    shape-margin: 5px;
}